{% extends 'accounts/shared/basic.html' %}
{% load static %}

{% block main %}
    
        
                <div class="container">
                    <h2>ABOUT US!</h2>

                    <div class="row  mt-5">
                        <div class="col-lg-6">
                         <img src="{% static 'img/excel.jpg' %}" width="100%" alt="">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-justify">
                                Excel Public School, Mahe is under the aegis of G K Memorial Education Trust. The school is nestled in a calm and pristine surrounding at Chalakkara, Mahe towering on Mount Vera giving a magnificent view of the coconut palms all around and the Arabian Sea in the Western side.
                                Mahe, an erstwhile French colony is part of the Union Territory of Puducherry and geographically located between Kozhikode and Kannur Districts of Kerala.
                                The School recognized by the Government of Puducherry started functioning with 457 students in the academic year 2014-15, now has become a rendezvous of nearly 2000 aspiring learners from the neighbourhoods and is preparing students for the SSLC and Higher Secondary Examination of the Kerala State Education Boards.
                            </p>
                        </div>
                    </div>  
                </div>      
         

{% endblock main %}

